/* Your custom styles */
.row-centered 
{
    text-align:center;
	background: rgb(69, 90, 100);
	height:298px;
}
.custom
{
	height:680px;
	margin:0;
	padding:0;
	background: rgb(69, 90, 100);
	
	box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08);
	/* box-shadow:0px 0px 20px #263238 ; */
}
.col-centered{
float: none;
margin: 80px auto;
}	
.circle
{
	width:150px;
	height:150px;
	border-radius:100%;
	border:5px solid gray;
	margin:-65px auto;
	background-color:white;
	overflow:hidden;
}
.circle img
{
	width:140px;
	height:150px;
	border-radius:100%;
}
.content h4
{
	margin-top:70px;
	color:white;
	font-weight:bold;
}
.content h6
{
	
	color:white;
	
}
.rows
{
	height:1px;
	background-color:gray;
	
	
}
.ico
{
	margin:5 auto;
	transition:1s;
	
	text-align:center;
}
.ico ul
{
	margin:0px;
	padding:0px;
}
.ico ul li
{
	list-style:none;
	float:left;
	width:50%;
	border-right:1px solid gray;
} 
.ico ul li:last-child
{
	border-right:none;
}
.ico a 
{
	color:black;
	
	display:block;
	color:white;
	text-align:center;
	text-decoration:none;
	padding-bottom:16px;
	margin: 0px auto;
	border-top:1px solid gray;
	
  
}

.ico a:hover
{
	background-color:#3E515A;

}
.form
{
	color:black;
	
	
}
.form span
{
	margin-left:90px;
	margin-bottom:;
	color:#82848f;
}
.form i
{
	color:#b3b4bb;
	font-size:23px;
	margin-left:40px;
	padding-right:20px;

	
}
.form a
{
	text-decoration:none;
	color:black;
	
}
.form hr
{
	max-width:380px;
}
 .mainpart
{
	background-color:white;
	height:480px;
	/* border:2px solid red; */
	margin:4px auto;
	box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08);
	clear:both;
	
	
}
.bttn
{
      background:red;
  border-radius:0px;
  margin-top:20px;
  margin-right:10px;
  border:transparent;
  transition:1s;
}	
.bttn:hover
{
	background: rgb(69, 90, 100);
}
